body {
    margin: 0;
    background: whitesmoke;
    text-align: center;
}

a:link, a:visited {
    color: #0453a3;
    padding: 10px;
}

a:active {
    text-decoration: underline;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: center;
}

th {
    background: rgb(210, 225, 255);
    position: sticky;
    top: 0px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.dataframe {
    border: 1px solid black;
    border-collapse: collapse;

}

