body {
    margin: 0;
    background: whitesmoke;
    text-align: center;
}

th {
    position: sticky;
    top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.dataframe {
    border: 1px solid black;
    border-collapse: collapse;

}

